<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.spring2.product.mapper.ProductMapper">
    <insert id="add"
            parameterType="Product">
        INSERT INTO product(prod_no, prod_name, prod_price) VALUES (#{prodNo},#{prodName},#{prodPrice})
    </insert>
    <select id="selectAll"
            resultType="Product"
    >
        SELECT *
        FROM board
        ORDER BY board_no DESC
    </select>
    <select id="findById" parameterType="String" resultType="Product">
        SELECT *  FROM product WHERE prod_no = #{no}
    </select>
    <select id="findByName" parameterType="String" resultType="Product">
        SELECT *  FROM product WHERE prod_no LIKE CONCAT('%', #{word}, '%')
    </select>
    <select id="findAll"  resultType="Product">
        SELECT * FROM product
    </select>

</mapper>